<html>
<head>

    <title>task 3</title>
</head>
<body>
 <table>
    
      <tr>
        <th>id</th>
        <th>email</th>
        <th>firstname</th>
        <th>lastname</th>
        <th>avatar</th>
    </tr>
    {%for i in data%}
    <tr>     
        
        <td>{{i.get("id")}}</td>
            <td>{{i.get("email")}}</td>
                <td>{{i.get("first_name")}}</td>
                    <td>{{i.get("last_name")}}</td>
                    <td>{{i.get("avatar")}}</td>
    </tr>
   {% endfor %}




<table>
</html>